@font-face {
    font-family: 'Lab Grotesque';
    src: local('Lab Grotesque Medium'), local('Lab-Grotesque-Medium'),
        url('LabGrotesque-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }